server:
  port: 80


eureka:
  client:
    register-with-eureka: false
    service-url:
      defaultZone: http://euerka7003.com:7003/eureka/, http://euerka7001.com:7001/eureka/, http://euerka7002.com:7002/eureka/
